.testimonials{
    background-color: #191616;
    color: white;
    height: 35rem;
    font-family: 'Lexend';
}
.testimonials h3{
    font-family: 'pacifico';
}

  
  .testimonial-img {
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
    font-size: 1.5rem;
  }
  .carousel-inner{
    background-image: url(../../assets/images/testimonial.png);
    background-size: cover;
    background-position: center;
  }
  .carousel-item {
    
    height: 400px;
  }
  
